<!doctype html>
<html lang="en">

  <!-- Google Web Fonts
  ================================================== -->

  <!-- Basic Page Needs
  ================================================== -->

  <title><%= pageTitle %> | <%= siteTitle %></title>
  
  <!--meta info-->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">

   <!-- Google Analytics
  ================================================== -->
  <%- partial("../partial/_analytics") %>

  <!-- Vendor CSS
  ============================================ -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- CSS theme files
  ============================================ -->
  <link href="/css/1-col-portfolio.css" rel="stylesheet">
  <link href="/css/blog-home.css" rel="stylesheet">
  <link href="/css/blog-post.css" rel="stylesheet">
  <link href="/css/portfolio-item.css" rel="stylesheet">

</head>

<body>
  <!--cookie-->
  <!-- <div class="cookie">
          <div class="container">
            <div class="clearfix">
              <span>Please note this website requires cookies in order to function correctly, they do not store any specific information about you personally.</span>
              <div class="f-right"><a href="#" class="button button-type-3 button-orange">Accept Cookies</a><a href="#" class="button button-type-3 button-grey-light">Read More</a></div>
            </div>
          </div>
        </div>-->

  <!-- Page Content -->


  <%- partial("../partial/_header") %>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4"><%= pageTitle %></h1>

        <hr />
        
        <%- yield %>

        <hr />
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Categories Widget -->
        <!-- <div class="card my-4">
          <h5 class="card-header">Other Posts</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">HTML</a></li>
                  <li><a href="#">Freebies</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#">JavaScript</a></li>
                  <li><a href="#">CSS</a></li>
                  <li><a href="#">Tutorials</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        
        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">About Me</h5>
          <div class="card-body">
            I'm Jerick Bilalat located in Minnesota building amazing Software
            Applications with React JS and Node JS.
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <%- publishDate && partial("../partial/_comments") %>
  </div>
  <!-- /.container -->
  <%- partial("../partial/_footer") %>
  
  <!-- JS Libs & Plugins
    ============================================ -->
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
  </html>