<% for(var i=0; i < post_collection.length ; i++) {%>
<div class="card mb-4">
  <!-- <img
    class="card-img-top"
    src="<%= post_collection[i].img_src %>"
    alt="Card image cap"
  /> -->
  <div class="card-body">
    <h2 class="card-title"><%= post_collection[i].title%></h2>
    <p class="card-text"><%= post_collection[i].description %></p>
    <a href="<%= post_collection[i].path_to_post %>" class="btn btn-primary"
      >Read More &rarr;</a
    >
  </div>
  <div class="card-footer text-muted">
    Posted by <%= post_collection[i].author %>
    <!-- <a href="<%= post_collection[i].path_to_post %>">Authur Link</a> -->
  </div>
</div>
<%}%>

<!-- Pagination -->
<!-- <ul class="pagination justify-content-center mb-4">
  <li class="page-item">
    <a class="page-link" href="#">&larr; Older</a>
  </li>
  <li class="page-item disabled">
    <a class="page-link" href="#">Newer &rarr;</a>
  </li>
</ul> -->
